/* About title */
.about-center-column h1 {
    font-family: "Ubuntu Condensed", sans-serif;
    color: #28ebe5;
    text-transform: uppercase;
    margin-bottom: 150px;
}

/* About page links wrapper */
.about-links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-links-wrapper > .nav-link {
    width: 70px;
    text-align: center;
}

.about-links-wrapper > .nav-link a {
    font-family: "Ubuntu Condensed", sans-serif;
    color: seashell;
    text-decoration: none;
    transition: 0.5s;
}

.about-links-wrapper > .nav-link a:hover {
    color: #28ebe5;
    letter-spacing: 2px;
}