/* About title */
.watch-center-column h1 {
    font-family: "Ubuntu Condensed", sans-serif;
    color: #28ebe5;
    text-transform: uppercase;
    margin-bottom: 150px;
}

/* About page links wrapper */
.watch-links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.watch-links-wrapper > .nav-link {
    width: 70px;
    text-align: center;
}

.watch-links-wrapper > .nav-link a {
    font-family: "Ubuntu Condensed", sans-serif;
    color: seashell;
    text-decoration: none;
    transition: 0.5s;
}

.watch-links-wrapper > .nav-link a:hover {
    color: #28ebe5;
    letter-spacing: 2px;
}

.navigation-page > .watch-center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}

.navigation-page > .watch-center-column > .watch-banner-image {
    display: flex;
    justify-content: center;
}

.navigation-page > .watch-center-column > .watch-banner-image img {
    width: 500px;
    height: 100%;
}